@font-face {
  font-family: Doto;
  src: url("../src/assets/font/Doto-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-science: "Science Gothic, sans-serif";

  --color-bx1-title: #5c767a;
  --color-bx1-button: #00474b;
}

@layer utilities {
  .tracking-ultra {
    letter-spacing: 0.3em;
  }
  .tracking-mega {
    letter-spacing: 0.5em;
  }
}
