@import "tailwindcss";
@font-face {
  font-family: S-mono;
  src: url("../src/assets/font/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: S-mono-bold;
  src: url("../src/assets/font/SpaceMono-Bold.ttf");
}

@theme {
  --font-space-mono: S-mono, "sans-serif";
  --font-space-mono-bold: S-mono-bold, "sans-serif";

  --color-bx1-title: #5c767a;
  --color-bx1-button: #00474b;
}

@layer utilities {
  .tracking-ultra {
    letter-spacing: 0.3em;
  }
  .tracking-mega {
    letter-spacing: 0.5em;
  }
}
